services:
  - type: web
    name: Desktwon
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromConfig: DATABASE_URL
      - key: SESSION_SECRET
        generateValue: true
